
main{
    section{
        margin-top: 55px;
        height: auto;
        font-size: 40px;
        color: rgb(0, 0, 0);
        padding: 10px 5px;
        border: solid black 3px;
    }

    div{
        .textoColaborar{
            font-size:20px ;
            text-align:left;
            padding: 10px;
            background-color: $mainColor;
            border: $border;
        }
        img{
            height:200px;
            @include mq_850px{
                display: none;
            }
        }
    }
}       

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $mainColor;
    justify-content: space-between;
    grid-area: footer;
    img{
        height: 100px;
    }
    .imgFooter{
        height: 55px;
        margin: 10px;
    }
}
   
