
main{
    section{
        margin-top: 55px;
        height: auto;
        font-size: $textLg;
        color: rgb(0, 0, 0);
        padding: 10px 5px;
        border: solid black 3px;
        p{
            @include mq_480px{
                font-size: 15px;
            }
        }
    }

    div{
        .textoColaborar{
            list-style:none;
            font-size:$textLg;
            text-align:left;
            padding: 10px;
            background-color: $mainColor;
            border: $border;
            @include mq_682px{
                font-size: $textMd ;
                list-style:none;
            }
        }
        img{
            height:200px;
            @include mq_850px{
                display: none;
            }
        }
    }
}       


   
