

main{
    display: flex;
    margin-top: 55px;
    height: auto;
    color: $keyColor;
    .videoFlex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
}      

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $mainColor;
    justify-content: space-between;
    grid-area: footer;
    img{
        height: 100px;
    }
    .imgFooter{
        height: 55px;
        margin: 10px;
    }
}
   