
main{
    div{
        margin-top: 10rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        section{
            margin-top: 55px;
            margin-bottom: 10px;
            width: 90%;
            height: auto;
            font-size: 40px;
            color: $keyColor;
            padding: 10px 5px;
            border: solid black 3px;
        }
        .bgPerro{
            @include mq_850px{
                font-size: 20px ;
                background-image: url(../img/refugio/nariz-de-un-perro.png);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
       
        div{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            .imgPerros{
                height:500px;
            }
        }   
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $mainColor;
    justify-content: space-between;
    grid-area: footer;
    img{
        height: 100px;
    }
    .imgFooter{
        height: 55px;
        margin: 10px;
    }
}
