html{
    font-size: 62.5%;
}

body{
    background-image: url(../img/bg/purple.jpg);
    background-repeat: repeat;
    background-attachment:fixed;
    margin: 0%;
    .contenedor{
        display: grid;
        min-height: 100vh;
         grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }
}

header{
    background-color:$mainColor;
    top: 0;
    left: 0;
    width: 100%;
    grid-area: header;
    img{
        width: 100px
    }
}

nav{
    ul{
        list-style:none;
        li{
            font-size: 15px;
            padding: 5px 15px;
            margin: 4px;
            background-color:$mainColor;
            border-radius: 15px;
            border: solid black 1px;
            &:hover{
                transform: scale(1.05);
                background-color: $secondaryColor;
            }     
        }                
}   }  


main{
    section{
        margin-top: 55px;
        width: 90%;
        height: auto;
        margin-left: 55px;
        font-size: 40px;
        color: rgb(0, 0, 0);
        padding: 10px 5px;
        border: solid black 3px;
    }

    div{
        .textoColaborar{
            font-size:20px ;
            text-align:left;
            padding: 10px;
            background-color: $mainColor;
            border: $border;
        }
        img{
            height:200px;
        }
    }
}       

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $mainColor;
    justify-content: space-between;
    grid-area: footer;
    img{
        height: 100px;
    }
    .imgFooter{
        height: 55px;
        margin: 10px;
    }
}
   
