//mediaq Lg
@mixin mv($media1 : 1200px){
    @media screen and (max-width : $media1){
        @content;
    } 
}  
 //mediaq Md
@mixin mv ($media2 : 768px){
    @media screen and (max-width: $media2){
        @content;
    }
}

.borrar{
    
    @include mv(1200px){
        display: none;
    }
}

//mediaq Sm
@mixin sm($media3 : 576px){
    @media screen and (max-width : $media3){
    }
    }

    ul{
        @include mv(550px){
        flex-direction: column!important;
    }
    }
    section{
        @include mv(850px){
        width:80% !important;
        
    }
    }
    div{
        p{
            display: flex;
        }
        img{
            @include mv(850px){
                display: none !important; 
            }
        }
    }
    

   

