//variables (son para datos)
$mainColor: rgba(242, 245, 71, 0.5);
$secondaryColor: rgba(208, 212, 128, 0.84);
$keyColor: black;


$textLg:2em;
$textMd:1.9em;
$textSm:1em;

$border:solid black 3px;

$tituloLg:40px;
$tituloMd:30px;
$tituloSm:25px;